<ion-header >
  <ion-toolbar color="primary">
    <ion-title>Registrate</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>

    <ion-card-content>
      <form [formGroup]="formularioRegistro" (ngSubmit)="onRegistro()">
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" formControlName="username"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="{{ hide ? 'password' : 'text' }}" formControlName="password"></ion-input>
          <ion-icon
            name="{{ hide ? 'eye-off' : 'eye' }}"
            (click)="togglePasswordVisibility()"
            color="primary"
            slot="end"
            style="cursor: pointer;"
          ></ion-icon>
        </ion-item>
        <br>
        <ion-button type="submit" [disabled]="!formularioRegistro.valid">
          Registrarse
        </ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
